.red {
  color: red;
}

.logo {
  max-height: 125px !important;
  max-width: 50% !important;
  margin-bottom: 25px;
}

.nav-menu {
  background-color: #8a4d9c;
}

.nav-menu .menu li a {
  color: #ffffff;
  opacity: 0.75;
}

.nav-menu .menu li a:hover {
  opacity: 1;
  color: #ffffff;
}

.nav-container__sub-header {
  line-height: 20px;
  margin-bottom: 20px;
}

.nav-container__sub-header a {
  text-decoration: none;
  color: inherit;
}

.hero-slider .slides li {
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 0;
  display: block;
  z-index: 1;
}

.hero-slider .slides li:first-child {
  opacity: 1;
  z-index: 2;
}

.hero-slider .slides li.overlay:before {
  opacity: 0.65;
}

.hero-slider .slides .hero-text p {
  font-size: 1.2em;
}

.hero-slider .slides .hero-text h1 {
  font-weight: 400;
}

.hero-slider .slides .hero-text * {
  color: white !important;
}

header.signup:before {
  opacity: 0.4;
}

.no-margin-top {
  margin-top: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.m-t-2 {
  margin-top: 15px;
}

.m-t-4 {
  margin-top: 30px;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-2 {
  margin-bottom: 15px !important;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sm-text-center {
    text-align: center;
  }
}

.text-light-gray {
  color: #aaa;
}

.blog-masonry-container {
  margin-bottom: -30px;
}

.blog-masonry-container .price-details {
  margin-bottom: 10px;
}

.blog-masonry-container .price {
  font-size: 1.5em;
  color: #8a4d9c;
  display: inline;
}

.blog-masonry-item .post-title {
  background-color: #f4f4f4;
}

h1 {
  margin-bottom: 32px;
}

.top-bar {
  position: static !important;
}

/* Add fallback for older browsers that don't support css grid */
.insta-feed > * {
  float: left;
  width: 20%;
}
.insta-feed > *:nth-child(n + 6) {
  display: none;
}
@supports (display: grid) {
  .insta-feed > * {
    width: auto;
  }
  .insta-feed > *:nth-child(n + 6) {
    display: block;
  }
}

.insta-feed {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .insta-feed {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.insta-feed__image {
  background-size: cover;
  background-position: center;
}

.insta-feed__image:before {
  content: '';
  padding-top: 100%;
  display: block;
}

.mail-list-signup .signup-email-field {
  padding: 9px;
  font-size: 20px;
  float: none;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.mail-list-signup .signup-email-field::placeholder {
  top: 0;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.75;
}

.mail-list-signup .btn {
  margin-top: 2rem;
}

.mail-list-signup {
  margin-bottom: 40px;
}

.mail-list-signup .container .signup-email-field {
  display: block;
  margin: 2rem auto;
}
